//---------------------------------------------------------------------------------------------------------------------Breakpoints
$breakpoint-medium: 991px;
$breakpoint-small: 767px;
$breakpoint-extrasmall: 575px;
$breakpoint-large: 1200px;
$breakpoint-extralarge: 1201px;

//---------------------------------------------------------------------------------------------------------------------Colors
$nav-link: #6f8ba4;
$primary-color: #585ce9;
$secondary-color: #3b566e;
