section.page {
  background: #f7fafd;
  & section.blogs {
    padding-top: 100px;
    padding-bottom: 70px;
    letter-spacing: 0.88px;
    line-height: 28px;
    color: $secondary-color;
    & .blog-post {
      background: white;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
      text-align: center;
      border-radius: 5px;
      margin-bottom: 30px;
      &.small {
        margin-bottom: 30px;
        & .content-container {
          margin-bottom: 25px;
          position: relative;
          height: 200px;
          &.img {
            &-1 {
              background-image: url("../images/blog-2.jpg");
            }
            &-2 {
              background-image: url("../images/blog-3.jpg");
            }
            &-3 {
              background-image: url("../images/blog-4.jpg");
            }
            &-4 {
              background-image: url("../images/about-2.jpg");
            }
          }
        }
      }
      & .content-container {
        position: relative;
        height: 400px;
        overflow: hidden;
        margin-bottom: 25px;
        background-image: url("../images/blog-1.jpg");
        background-size: 100%;
        background-position: center;
        & .date {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          background: black;
          border-radius: 5px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          opacity: 0.3;
          & * {
            position: relative;
            z-index: 3;
            padding: 10px 0px;
            color: white;
            font-size: 14px;
          }
          & strong {
            padding-left: 20px;
          }
          & span {
            padding-right: 20px;
          }
        }
      }
      & .post-meta {
        margin: 0;
        text-align: center;
        & li {
          display: inline-block;
          font-size: 14px;
          margin: 0 15px;
          & a {
            color: $primary-color;
            & span {
              margin-right: 5px;
            }
          }
        }
      }
      & h3 {
        padding: 0 30px;
        margin-bottom: 10px;
        & a {
          color: $secondary-color;
          transition: all 0.3s ease;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 26px;
          &:hover {
            color: $primary-color;
          }
        }
      }
      & .text {
        padding: 0 30px;
        color: $nav-link;
        font-size: 14px;
        letter-spacing: 0.88px;
        line-height: 26px;
        margin-bottom: 15px;
      }
      & .button {
        padding: 8px 40px !important;
        display: inline-block;
        margin-bottom: 30px;
      }
    }
    & .search-widget {
      display: block;
      margin-bottom: 30px;
      height: 50px;
      position: relative;
      form {
        & > * {
          position: absolute;
        }
        & input {
          width: 100%;
          height: 100%;
          outline: none;
          border: 1px solid white;
          padding-left: 20px;
          padding-right: 50px;
          transition: all 0.3s ease;
          background: white;
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
          &:focus {
            border: 1px solid $primary-color;
            padding-left: 30px;
          }
        }
        & .submit {
          outline: none;
          border: none;
          border-radius: 5px;
          padding: 4px 10px;
          background-color: $primary-color;
          z-index: 2;
          right: 7px;
          top: 7px;
          & i {
            color: white;
          }
        }
      }
      & + ul {
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 48px 0px;
        margin-bottom: 30px;
        background: white;
        overflow: hidden;
        border-radius: 5px;
        & li {
          &:hover {
            & a {
              padding-left: 70px;
            }
          }
          & a {
            position: relative;
            display: block;
            height: 50px;
            line-height: 50px;
            padding-left: 60px;
            font-size: 14px;
            color: $secondary-color;
            letter-spacing: 0.88px;
            border-bottom: 1px solid rgb(236, 247, 255);
            transition: all 0.3s ease 0s;
            &::before {
              content: "\f054";
              position: absolute;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              font-size: 10px;
              left: 30px;
              color: $secondary-color;
            }
            & span {
              position: absolute;
              right: 5%;
              top: 50%;
              transform: translateY(-50%);
              height: 20px;
              line-height: 20px;
              padding: 0 10px;
              font-size: 10px;
              color: white;
              border-radius: 100px;
              background: $primary-color;
            }
          }
        }
      }
    }
  }
}
