@media (max-width: $breakpoint-medium) {
  .nav-buttons {
    display: none;
  }

  .nav-bar {
    padding: 0;
  }

  .menu {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    display: block;
    transition: all 0.3s ease;
    &.active {
      transform: scale(1);
    }
    & li {
      padding: 0;
      & a {
        display: block;
        padding: 10px 0;
        height: 50px;
      }
      &.has-children {
        & a {
          width: 100%;
          & i {
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        & .dropdown {
          top: 0;
          & a {
            font-weight: 600;
            padding-left: 50px !important;
            color: $secondary-color !important;
          }
        }
      }
    }
  }

  .main-menu {
    z-index: 10000000;
    width: 100%;
    background-color: white;
    opacity: 1;
    transform: translateY(0px);
    position: fixed;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    & .row {
      height: 80px;
      box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    }
  }

  .menu-toggler {
    display: inline;
  }

  .dropdown {
    position: relative;
    transform: none;
    transition: none;
    display: none;
  }

  .has-children:hover > .dropdown {
    pointer-events: all;
    display: inline;
  }

  .menu-trigger {
    display: inline-block;
  }

  .oval {
    display: none;
  }

  .header-text {
    text-align: center;
    & .button {
      display: inline-block;
      margin-bottom: 50px;
    }
  }
  .home-img-group {
    justify-content: center !important;
    & .flex-column {
      margin: 0 10px;
    }
  }
  .features img,
  .design-development img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .pre-features-about {
    & .center-text p {
      margin-top: 40px;
    }
  }
}
