//Used For screens between 575px and 767px
@media (max-width: $breakpoint-small) {
  .blog-img {
    & img {
      transform: scale(0.6) !important;
      left: -36% !important;
    }
  }
  .pre-features-about {
    & .center-text p {
      margin-top: 80px;
    }
  }
  .sub-page-header {
    & h1 {
      font-size: 16px !important;
      line-height: 26px !important;
      padding-bottom: 15px;
    }
  }
  .contact-bottom {
    margin-top: 150px !important;
  }
}
