* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.main-menu {
  z-index: 1000000000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.parallax {
  position: fixed;
  z-index: -1000;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-nav {
  padding: 6px 30px;
}

.button-nav-white {
  color: #585ce9;
  background: none;
  border: 1px solid #585ce9;
}

.button-nav-white:hover {
  color: white;
  background: #585ce9;
}

.button-nav-primary {
  color: white;
  background: #585ce9;
}

.button-nav-primary:hover {
  color: #585ce9;
  background: white;
  border: 1px solid #585ce9;
}

.button-primary {
  padding: 14px 40px;
  color: white;
  background: #585ce9;
}

.button-primary:hover {
  color: white;
  background: #4146e6;
}

.button-white {
  padding: 14px 40px;
  color: #585ce9;
  background: white;
}

.list-item-button {
  width: 100%;
  display: inline-block;
  height: 40px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.88px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.list-item-button i,
.list-item-button span {
  z-index: 3;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #3b566e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.list-item-button i {
  left: 8%;
}

.list-item-button span {
  left: 28%;
}

.list-item-button::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 100px;
  top: 0%;
  background: #f7fafd;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: -28%;
}

.list-item-button.active i {
  color: white;
  left: 9%;
}

.list-item-button.active:before {
  left: -24%;
  background: #585ce9;
}

.list-item-button.active span {
  left: 32%;
}

.services-list .list-item-button:hover::before,
.design-development-list .list-item-button:hover::before {
  left: -24%;
  background: #585ce9;
}

.services-list .list-item-button:hover i,
.design-development-list .list-item-button:hover i {
  color: white;
  left: 9%;
}

.services-list .list-item-button:hover span,
.design-development-list .list-item-button:hover span {
  left: 32%;
}

main section .section-title {
  font-size: 28px;
  color: #3b566e;
  letter-spacing: 1.75px;
  height: 45px;
  margin-bottom: 10px;
  text-align: center;
}

main section .center-text {
  margin-bottom: 50px;
}

main section .center-text p {
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
}

.widget-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}

.widget-tags a {
  display: inline-block;
  margin: 0 10px 10px 0;
  background: #f5f5f5;
  padding: 0 10px;
  font-size: 14px;
  color: #3b566e;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.widget-tags a:hover {
  color: white;
  background: #585ce9;
}

.img-container {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 230px;
  margin-bottom: 30px;
}

.img-container:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  background-image: linear-gradient(135deg, #585ce9 0%, #5c83e3 100%);
}

.img-container .image {
  width: 100%;
  height: 100%;
  background-image: url("../images/about-2.jpg");
  background-size: 100%;
}

.img-container .content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0 30px;
  z-index: 3;
}

.img-container .content p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.12px;
  margin-bottom: 30px;
  color: white;
}

footer {
  padding-top: 70px;
  background: #585ce9;
}

footer .logo,
footer h5 {
  margin-bottom: 30px;
}

footer .text {
  font-size: 14px;
  color: white;
  line-height: 26px;
  letter-spacing: 0.88px;
}

footer h5 {
  font-size: 16px;
  color: white;
  letter-spacing: 0.69px;
  line-height: 30px;
  margin-bottom: 30px !important;
}

footer ul {
  margin: 0;
}

footer ul li:hover a {
  color: #e5e9f7;
}

footer ul li:hover a span {
  margin-left: 10px;
}

footer ul li a {
  display: block;
  padding: 6px 0;
  width: 100%;
  height: 100%;
  color: #e5e9f7;
}

footer ul li a i {
  margin-right: 12px;
  font-size: 14px;
}

footer ul li a span {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 0;
  font-size: 14px;
  color: #e5e9f7;
}

footer .address a,
footer .address p {
  color: #e5e9f7;
}

footer .address p {
  margin-bottom: 5px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #777bff;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #e5e9f7;
  letter-spacing: 0.88px;
}

.oval {
  position: absolute;
}

.home-header {
  padding: 150px 0 100px;
}

.home-header .header-text h1 {
  line-height: 46px;
  font-size: 28px;
  color: #1e3056;
  margin-bottom: 20px;
}

.home-header .header-text h1 span {
  color: #585ce9;
}

.home-header .header-text p {
  margin-bottom: 50px;
  position: relative;
  color: #697ba2;
}

.home-header .img-1 {
  background-image: url("../images/1.jpg");
}

.home-header .img-2 {
  background-image: url("../images/2.jpg");
}

.home-header .img-3 {
  background-image: url("../images/3.jpg");
}

.home-header .img-4 {
  background-image: url("../images/1.jpg");
}

.home-header .img-1, .home-header .img-2 {
  margin-bottom: 1%;
}

.home-header .img-1, .home-header .img-4 {
  width: 99%;
  height: 332px;
  background-size: 500px 340px;
  background-position: center;
}

.home-header .img-1:hover, .home-header .img-4:hover {
  background-size: 540px 380px;
}

.home-header .img-2, .home-header .img-3 {
  width: 99%;
  height: 201px;
  background-size: 400px 290px;
  background-position: 10% 68%;
}

.home-header .img-2:hover, .home-header .img-3:hover {
  background-size: 440px 330px;
}

.home-header .img-4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #585ce9;
  opacity: 0.8;
}

.home-img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.content .text {
  padding: 0 15px;
}

.content .text * {
  color: white;
}

.content .text strong {
  margin-bottom: 10px;
  font-size: 14px;
}

.content .text p {
  font-size: 18px;
  letter-spacing: 1.12px;
  line-height: 28px;
}

.play-btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.play-btn-container a {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid white;
  display: inline-block;
  position: relative;
}

.play-btn-container a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.sub-page-header {
  margin-top: 80px;
  min-height: 270px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  background-attachment: fixed;
  background-size: 100%;
  background-image: url("../images/parallax-cover.jpg");
  background-position: 0% 150%;
}

.sub-page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(127deg, #585ce9 0%, #5c83e3 91%);
  opacity: 0.7;
  z-index: 2;
}

.sub-page-header > * {
  position: relative;
  z-index: 3;
}

.sub-page-header .row {
  margin-top: 120px;
}

.sub-page-header h1 {
  height: 50px;
  line-height: 46px;
  letter-spacing: 1.4px;
  color: white;
  position: relative;
}

.sub-page-header h1::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background: white;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sub-page-header .node a {
  display: inline-block;
  font-size: 14px;
  color: white;
  line-height: 30px;
}

.sub-page-header .node a.clickable {
  position: relative;
}

.sub-page-header .node a.clickable::before {
  pointer-events: none;
  display: block;
  content: "\f054";
  position: absolute;
  color: #e5e9f7;
  right: -14px;
  font-size: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.sub-page-header .node a.active {
  color: #e5e9f7;
  margin-left: 20px;
}

.main-menu {
  position: fixed;
  height: 80px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-menu.menu-transform {
  z-index: 10000000;
  width: 100%;
  background-color: white;
  opacity: 1;
  position: fixed;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.nav-bar {
  padding: 0.5rem 1rem;
}

.menu {
  margin-left: 68px;
  margin-bottom: 0;
}

.menu > li {
  position: relative;
  padding: 0 20px;
}

.menu > li.has-children:hover .dropdown {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out, pointer-events 0s;
  transition: all 0.3s ease-in-out, pointer-events 0s;
}

.menu > li > a {
  font-weight: 600;
  position: relative;
  line-height: 40px;
  color: #6f8ba4;
}

.menu > li > a i {
  font-size: 0.5rem;
  position: absolute;
  top: 8px;
  right: -12px;
}

.dropdown {
  background: white;
  border-radius: 5px;
  position: absolute;
  width: 200px;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  opacity: 0;
  pointer-events: none;
  top: 40px;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
}

.dropdown > li {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown > li:hover {
  background-color: #f5f5f5;
}

.dropdown > li:hover > a {
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 28px;
}

.dropdown > li:hover > a:before {
  width: 3px;
}

.dropdown > li > a {
  padding-left: 22px;
  color: #3b566e;
  font-weight: 600;
  font-size: 13px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid #f5f5f5;
}

.dropdown > li > a:before {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
  height: 100%;
  width: 0;
  background: #585ce9;
}

.menu,
.nav-bar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-trigger {
  display: none;
  width: 32px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.menu-trigger span {
  width: 30px;
  height: 2px;
  background: #3b566e;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}

.menu-trigger:before, .menu-trigger::after {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(0);
          transform: translate(0);
  background: #3b566e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
}

.menu-trigger:before {
  top: 0;
}

.menu-trigger:after {
  bottom: 0;
}

.menu-trigger.open > span {
  opacity: 0;
}

.menu-trigger.open:before {
  top: 14px;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-trigger.open:after {
  bottom: 14px;
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.features {
  padding-top: 100px;
  padding-bottom: 80px;
  background: #f7fafd;
}

.features .heading .section-title {
  font-size: 28px;
  color: #3b566e;
  letter-spacing: 1.75px;
  height: 45px;
  margin-bottom: 10px;
  position: relative;
}

.features .text p {
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.features div.image {
  -webkit-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
  right: 3%;
  opacity: 0;
}

.features div.image img {
  max-width: 100%;
}

.reveal-right {
  opacity: 1 !important;
  right: 0 !important;
}

.pre-features {
  padding-bottom: 70px;
}

.pre-features-item {
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 30px;
  opacity: 0;
  top: 10%;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pre-features-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background: #585ce9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}

.pre-features-item > * {
  position: relative;
  z-index: 3;
}

.pre-features-item .icon {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 68px;
  height: 68px;
  border-radius: 34px;
  background: #f7fafd;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pre-features-item .icon i {
  color: #585ce9;
}

.pre-features-item .pre-features-title {
  font-size: 16px;
  color: #3b566e;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pre-features-item p {
  color: #6f8ba4;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.88px;
  line-height: 26px;
}

.pre-features-item:hover::before {
  opacity: 1;
}

.pre-features-item:hover .pre-features-title,
.pre-features-item:hover p {
  color: white;
}

.revealed {
  opacity: 1;
  top: 0%;
}

.design-development {
  padding-top: 100px;
  padding-bottom: 80px;
  background: white;
}

.design-development .heading .section-title {
  font-size: 28px;
  color: #3b566e;
  letter-spacing: 1.75px;
  height: 45px;
  margin-bottom: 10px;
  position: relative;
}

.design-development .text p {
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.design-development div.image {
  -webkit-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
  left: -3%;
  opacity: 0;
}

.design-development div.image img {
  max-width: 100%;
}

.design-development .reveal-right {
  left: 0 !important;
  opacity: 1;
}

.parallax-counter {
  position: relative;
  background-image: url("../images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
}

.parallax-counter::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #585ce9;
  opacity: 0.8;
  z-index: 2;
}

.parallax-counter * {
  color: white;
  z-index: 3;
}

.parallax-counter .count-item {
  width: 100%;
  height: 280px;
}

.parallax-counter .count-item:hover strong {
  margin-top: 60px;
}

.parallax-counter strong {
  display: block;
  position: relative;
  font-size: 40px;
  letter-spacing: 1.72px;
  margin-top: 70px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.parallax-counter strong::before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 116px;
  border-top: 1px dashed white;
  top: 100%;
}

.parallax-counter span {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.86px;
}

.our-team {
  padding-top: 100px;
  padding-bottom: 80px;
}

.our-team .team-item {
  background: #fff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  position: relative;
  margin-bottom: 55px;
}

.our-team .team-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 1;
  background-color: #585ce9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.our-team .team-item:hover::before {
  height: 125px;
}

.our-team .team-item:hover .social li a {
  color: white;
}

.our-team .team-item:hover .user-image {
  bottom: -55px;
}

.our-team .team-item .team-info {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.our-team .team-item .team-info > * {
  display: block;
  text-align: center;
  position: relative;
  z-index: 2;
}

.our-team .team-item .team-info .user-name {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.69px;
  margin-top: 5px;
}

.our-team .team-item .team-info span {
  font-size: 12px;
  color: #e5e9f7;
  letter-spacing: 0.6px;
}

.our-team .team-item .social {
  position: relative;
  z-index: 2;
}

.our-team .team-item .social li {
  margin: 0 10px;
}

.our-team .team-item .social li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #585ce9;
}

.our-team .team-item > p {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  font-size: 14px;
  color: #6f8ba4;
  letter-spacing: 0.6px;
  line-height: 26px;
  margin-bottom: 60px;
}

.our-team .user-image {
  width: 96px;
  height: 96px;
  border: 6px solid #fff;
  overflow: hidden;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -45px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.prices {
  background-color: #f7fafd;
  padding-top: 100px;
  padding-bottom: 80px;
}

.prices .pricing-item {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  top: 10%;
  opacity: 0;
}

.prices .pricing-item.active .pricing-header {
  background-color: #585ce9;
}

.prices .pricing-item.active .pricing-header .pricing-title {
  color: white;
}

.prices .pricing-item .pricing-header {
  border-bottom: 1px solid #f7fafd;
  text-align: center;
  height: 130px;
  display: block;
  position: relative;
}

.prices .pricing-item .pricing-header h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: #3b566e;
  position: absolute;
  width: 100%;
  top: 46%;
}

.prices .pricing-item .pricing-body {
  margin-bottom: 40px;
  text-align: center;
}

.prices .pricing-item .pricing-body .number {
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #f7fafd;
  position: relative;
  text-align: center;
  border-radius: 100%;
  left: 50%;
  top: -21px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.prices .pricing-item .pricing-body .price-wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
}

.prices .pricing-item .pricing-body .price-wrapper * {
  color: #585ce9;
}

.prices .pricing-item .pricing-body .price-wrapper .currency {
  font-weight: 600;
  height: 47px;
  font-size: 20px;
  position: relative;
  top: -15px;
}

.prices .pricing-item .pricing-body .price-wrapper .price {
  font-size: 34px;
  letter-spacing: 2.12px;
}

.prices .pricing-item .pricing-body .price-wrapper .period {
  font-size: 14px;
  letter-spacing: 0.88px;
}

.prices .pricing-item .pricing-body .price-wrapper .price,
.prices .pricing-item .pricing-body .price-wrapper .period {
  font-weight: 700;
}

.prices .pricing-item .pricing-body .list .active {
  color: #3b566e;
  text-decoration: none;
}

.prices .pricing-item .pricing-body .list li {
  margin-bottom: 12px;
  font-size: 14px;
  color: #ccdcea;
  letter-spacing: 0.88px;
  text-decoration: line-through;
}

.prices .pricing-item .pricing-footer {
  text-align: center;
}

.prices .pricing-item .pricing-footer a {
  display: inline-block;
  margin-bottom: 40px;
}

.revealed {
  opacity: 1 !important;
  top: 0% !important;
}

.parallax {
  min-height: 215px;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-image: url("../images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
}

.parallax::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #585ce9;
  opacity: 0.8;
  z-index: 2;
}

.parallax * {
  z-index: 3;
}

.parallax .info {
  text-align: center;
  font-size: 22px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.parallax .info p {
  margin-bottom: 40px;
}

.parallax .info span {
  text-decoration: underline;
}

.blog {
  padding-top: 100px;
  padding-bottom: 80px;
}

.blog .blog-post {
  text-align: center;
  margin-bottom: 30px;
}

.blog .blog-post .blog-img {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.blog .blog-post .blog-img.blg-img-1 {
  background-image: url("../images/blog-1.jpg");
}

.blog .blog-post .blog-img.blg-img-2 {
  background-image: url("../images/blog-2.jpg");
}

.blog .blog-post .blog-img.blg-img-3 {
  background-image: url("../images/blog-3.jpg");
}

.blog .blog-post .blog-img.blg-img-1, .blog .blog-post .blog-img.blg-img-2, .blog .blog-post .blog-img.blg-img-3 {
  background-size: 100%;
}

.blog .blog-post .blog-content {
  text-align: center;
}

.blog .blog-post .blog-content h3 {
  margin-bottom: 10px;
}

.blog .blog-post .blog-content h3 a {
  color: #3b566e;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog .blog-post .blog-content h3 a:hover {
  color: #585ce9;
}

.blog .blog-post .blog-content .text {
  font-size: 14px;
  color: #3b566e;
  letter-spacing: 0.88px;
  line-height: 26px;
  margin-bottom: 15px;
}

.blog .blog-post .blog-content .button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
}

.pre-features-about {
  padding-top: 100px;
  padding-bottom: 70px;
}

.our-mission,
.our-vision {
  padding-bottom: 100px;
}

.our-mission .about,
.our-vision .about {
  position: relative;
}

.our-mission .about .about-img,
.our-vision .about .about-img {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
  height: 500px;
  position: relative;
  width: 70%;
  border-radius: 5px;
  overflow: hidden;
}

.our-mission .about .about-img img,
.our-vision .about .about-img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.our-mission .about .about-img:hover img,
.our-vision .about .about-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our-mission .about .about-text,
.our-vision .about .about-text {
  right: 0;
  z-index: 2;
  position: absolute;
  width: 40%;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 30px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.our-mission .about .about-text p,
.our-vision .about .about-text p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #6f8ba4;
  letter-spacing: 0.88px;
}

.our-mission .about .about-text h2,
.our-vision .about .about-text h2 {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 1.75px;
  color: #3b566e;
  margin-bottom: 20px;
}

.about-parallax {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-vision {
  padding-top: 100px;
}

.our-vision .about-text {
  left: 0;
}

.our-vision .about-img {
  left: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.questions {
  padding-top: 100px;
  padding-bottom: 70px;
  letter-spacing: 0.88px;
  line-height: 28px;
}

.questions h2 {
  font-size: 30px;
  color: #585ce9;
  letter-spacing: 1.88px;
  margin-bottom: 20px;
}

.questions p {
  margin-bottom: 28px;
  color: #3b566e;
}

.questions .accordion {
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 48px 0px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 48px 0px;
  margin-bottom: 30px;
  background: white;
  border-radius: 4px;
}

.questions .question-card-header {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.questions .question-card-header h5 {
  width: 100%;
  padding: 20px 30px;
  margin: 0;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3b566e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.questions .question-card-header:hover {
  padding-left: 10px;
  background: #f7fafd;
}

.questions .question-card-body {
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
}

.questions .question-card-body .padding {
  padding: 30px 30px 16px 35px;
  border-top: 1px solid #f3f8ff;
}

.questions .question-card-body p {
  color: #6f8ba4;
  margin-bottom: 14px;
  font-size: 14px;
  letter-spacing: 0.88px;
  line-height: 28px;
}

section.page {
  background: #f7fafd;
}

section.page section.blogs {
  padding-top: 100px;
  padding-bottom: 70px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: #3b566e;
}

section.page section.blogs .blog-post {
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

section.page section.blogs .blog-post.small {
  margin-bottom: 30px;
}

section.page section.blogs .blog-post.small .content-container {
  margin-bottom: 25px;
  position: relative;
  height: 200px;
}

section.page section.blogs .blog-post.small .content-container.img-1 {
  background-image: url("../images/blog-2.jpg");
}

section.page section.blogs .blog-post.small .content-container.img-2 {
  background-image: url("../images/blog-3.jpg");
}

section.page section.blogs .blog-post.small .content-container.img-3 {
  background-image: url("../images/blog-4.jpg");
}

section.page section.blogs .blog-post.small .content-container.img-4 {
  background-image: url("../images/about-2.jpg");
}

section.page section.blogs .blog-post .content-container {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-bottom: 25px;
  background-image: url("../images/blog-1.jpg");
  background-size: 100%;
  background-position: center;
}

section.page section.blogs .blog-post .content-container .date {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: black;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: 0.3;
}

section.page section.blogs .blog-post .content-container .date * {
  position: relative;
  z-index: 3;
  padding: 10px 0px;
  color: white;
  font-size: 14px;
}

section.page section.blogs .blog-post .content-container .date strong {
  padding-left: 20px;
}

section.page section.blogs .blog-post .content-container .date span {
  padding-right: 20px;
}

section.page section.blogs .blog-post .post-meta {
  margin: 0;
  text-align: center;
}

section.page section.blogs .blog-post .post-meta li {
  display: inline-block;
  font-size: 14px;
  margin: 0 15px;
}

section.page section.blogs .blog-post .post-meta li a {
  color: #585ce9;
}

section.page section.blogs .blog-post .post-meta li a span {
  margin-right: 5px;
}

section.page section.blogs .blog-post h3 {
  padding: 0 30px;
  margin-bottom: 10px;
}

section.page section.blogs .blog-post h3 a {
  color: #3b566e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
}

section.page section.blogs .blog-post h3 a:hover {
  color: #585ce9;
}

section.page section.blogs .blog-post .text {
  padding: 0 30px;
  color: #6f8ba4;
  font-size: 14px;
  letter-spacing: 0.88px;
  line-height: 26px;
  margin-bottom: 15px;
}

section.page section.blogs .blog-post .button {
  padding: 8px 40px !important;
  display: inline-block;
  margin-bottom: 30px;
}

section.page section.blogs .search-widget {
  display: block;
  margin-bottom: 30px;
  height: 50px;
  position: relative;
}

section.page section.blogs .search-widget form > * {
  position: absolute;
}

section.page section.blogs .search-widget form input {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid white;
  padding-left: 20px;
  padding-right: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

section.page section.blogs .search-widget form input:focus {
  border: 1px solid #585ce9;
  padding-left: 30px;
}

section.page section.blogs .search-widget form .submit {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: #585ce9;
  z-index: 2;
  right: 7px;
  top: 7px;
}

section.page section.blogs .search-widget form .submit i {
  color: white;
}

section.page section.blogs .search-widget + ul {
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 48px 0px;
          box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 48px 0px;
  margin-bottom: 30px;
  background: white;
  overflow: hidden;
  border-radius: 5px;
}

section.page section.blogs .search-widget + ul li:hover a {
  padding-left: 70px;
}

section.page section.blogs .search-widget + ul li a {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 60px;
  font-size: 14px;
  color: #3b566e;
  letter-spacing: 0.88px;
  border-bottom: 1px solid #ecf7ff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

section.page section.blogs .search-widget + ul li a::before {
  content: "\f054";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  left: 30px;
  color: #3b566e;
}

section.page section.blogs .search-widget + ul li a span {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 10px;
  color: white;
  border-radius: 100px;
  background: #585ce9;
}

@media (min-width: 1201px) {
  .sub-page-header {
    background-position: 0% 150%;
  }
}

@media (max-width: 1200px) {
  .sub-page-header {
    background-position: 0% 150%;
  }
}

@media (max-width: 991px) {
  .nav-buttons {
    display: none;
  }
  .nav-bar {
    padding: 0;
  }
  .menu {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu.active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .menu li {
    padding: 0;
  }
  .menu li a {
    display: block;
    padding: 10px 0;
    height: 50px;
  }
  .menu li.has-children a {
    width: 100%;
  }
  .menu li.has-children a i {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu li.has-children .dropdown {
    top: 0;
  }
  .menu li.has-children .dropdown a {
    font-weight: 600;
    padding-left: 50px !important;
    color: #3b566e !important;
  }
  .main-menu {
    z-index: 10000000;
    width: 100%;
    background-color: white;
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    position: fixed;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  }
  .main-menu .row {
    height: 80px;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  }
  .menu-toggler {
    display: inline;
  }
  .dropdown {
    position: relative;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    display: none;
  }
  .has-children:hover > .dropdown {
    pointer-events: all;
    display: inline;
  }
  .menu-trigger {
    display: inline-block;
  }
  .oval {
    display: none;
  }
  .header-text {
    text-align: center;
  }
  .header-text .button {
    display: inline-block;
    margin-bottom: 50px;
  }
  .home-img-group {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .home-img-group .flex-column {
    margin: 0 2px;
  }
  .home-img-group .flex-column .img-1,
  .home-img-group .flex-column .img-2 {
    margin-bottom: 4%;
  }
  .features img,
  .design-development img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .pre-features-about .center-text p {
    margin-top: 40px;
  }
  .our-mission .about .about-img,
  .our-vision .about .about-img {
    width: 100% !important;
    height: 300px;
    margin-bottom: 30px;
  }
  .our-mission .about .about-img img,
  .our-vision .about .about-img img {
    max-width: 100%;
  }
  .our-mission .about .about-text,
  .our-vision .about .about-text {
    position: relative !important;
    width: 100% !important;
  }
  .design-development .image {
    margin-bottom: 60px;
  }
  .sub-page-header {
    background-size: 100%;
    background-position: 0%;
  }
}

@media (max-width: 767px) {
  .blog-img img {
    -webkit-transform: scale(0.6) !important;
            transform: scale(0.6) !important;
    left: -36% !important;
  }
  .pre-features-about .center-text p {
    margin-top: 80px;
  }
}

@media (max-width: 575px) {
  .sub-page-header {
    background-size: 100%;
    background-position: 0%;
  }
}
/*# sourceMappingURL=main.css.map */