.blog {
  padding-top: 100px;
  padding-bottom: 80px;
  & .blog-post {
    text-align: center;
    margin-bottom: 30px;
    .blog-img {
      position: relative;
      overflow: hidden;
      height: 200px;
      & .blg-img-1,
      & .blg-img-2,
      & .blg-img-3 {
        position: relative;
        left: -78%;
        top: -168%;
        transform: scale(0.4);
      }
      & .blg-img-2,
      & .blg-img-3 {
        top: -100%;
      }
    }
    .blog-content {
      text-align: center;
      & h3 {
        margin-bottom: 10px;
        & a {
          color: $secondary-color;
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 26px;
          transition: all 0.3s ease 0s;
          &:hover {
            color: $primary-color;
          }
        }
      }
      & .text {
        font-size: 14px;
        color: $secondary-color;
        letter-spacing: 0.88px;
        line-height: 26px;
        margin-bottom: 15px;
      }
      & .button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 47%;
      }
    }
  }
}
