main section {
  & .section-title {
    font-size: 28px;
    color: $secondary-color;
    letter-spacing: 1.75px;
    height: 45px;
    margin-bottom: 10px;
    text-align: center;
  }
  & .center-text {
    margin-bottom: 50px;
    & p {
      color: $nav-link;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}
